$primary: rgb(7, 142, 253);
$info: #07fde8;
@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
body {
  margin: 0;
  background: rgba(245, 231, 231, 0.507)
    linear-gradient(to right, $primary, $info);
}
#root {
  display: flex;
  justify-content: center;
}
#calculator {
  font-family: "Share Tech Mono", monospace;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(5rem, auto) minmax(1.5rem, auto) repeat(5, auto);
  justify-content: center;

  width: 90%;

  margin-top: 2rem;
  max-width: 440px;
  border: 2px solid black;
  padding: 1rem;
  border-radius: 2rem;
  background: rgb(170, 212, 247);

  #display {
    display: flex;
    flex-direction: column;
    grid-column: 1 / -1;
    align-items: flex-end;
    font-size: 3.5rem;
    max-width: 440px;
    overflow: hidden;
    border-radius: 1rem;
    border: 2px solid black;
    background: whitesmoke;
    padding-right: 0.5rem;
    word-wrap: break-word;
    word-break: break-all;
  }
  #sub-display {
    display: flex;
    flex-direction: column;
    grid-column: 1 / -1;
    align-items: flex-end;
    font-size: 1rem;
    max-width: 440px;
    overflow: hidden;
    color: rgba(0, 0, 0, 0.527);
    font-weight: bold;
    word-wrap: break-word;
    word-break: break-all;
  }
  #clear {
    grid-column: span 2;
  }
  #equals {
    grid-column: span 2;
  }
}
.btn {
  font-weight: bold;
  border-radius: 100vw;
  font-size: 1.5rem;
}
